image: elixir:1.18.0-otp-27

stages:
  - mix
  - docker

variables:
  # Docker
  DOCKER_API_VERSION: "1.44"
  # Registry
  REGISTRY: ghcr.io
  # Elixir
  MIX_ENV: 'test'

default:
  before_script:
    - mix local.rebar --force
    - mix local.hex --force
    - mix deps.get
    - mix deps.compile --force
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - mix.lock
      - _build
      - deps

format:
  stage: mix
  script:
    - mix format --check-formatted

test:
  stage: mix
  script:
    - mix ecto.create
    - mix ecto.migrate
    - mix test
  artifacts:
    when: always
    reports:
      junit: test/*-unit.xml

credo:
  stage: mix
  script:
    - mix credo

dialyzer:
  stage: mix
  script:
    - mix dialyzer
  only:
    - schedules

docker_build:
  stage: docker
  image: docker:cli
  before_script:
    - docker login $REGISTRY -u $REGISTRY_USER -p $REGISTRY_PASSWORD
  script:
    - docker build --pull -t "db" .
    # latest tag
    - docker tag "db" "$REGISTRY/$PROJECT_NAMESPACE/db:latest"
    - docker push "$REGISTRY/$PROJECT_NAMESPACE/db:latest"
    # version tag
    - docker tag "db" "$REGISTRY/$PROJECT_NAMESPACE/db:$CI_COMMIT_TAG"
    - docker push "$REGISTRY/$PROJECT_NAMESPACE/db:$CI_COMMIT_TAG"
  only:
    - tags
